body{width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/wall-ambient-03.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    background-color: transparent !important;
}

#header {
    width: 100%;
    height: 200px;
}

#h-text {
    position: relative;
    top: 20%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 7vw;
    font-weight: 600;
    color: white;
}

.container {
    width: 50%;
    text-align: center;
    height: 600px;
    
}

#button-addon2 {
    background-color: #007bff;
    color: white;
}

#ingredients-container {
    background: transparent;
    min-height: 300px;
    max-height: auto;
    overflow: auto;
    word-wrap: wrap;
    margin-top: auto;
    text-align: center;
}

#ingredients-text {
    color: white;
    font-family: 'Long Cang', cursive;
    font-size: 2.5vw;
}


#search-button {
    margin-bottom: 40px;
    margin: 0 auto;
}

#search-button:hover {
    color: white;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
    }

#list {
        list-style: none;
}

.carousel-inner {
    border-radius: 25px;
}

#recipie-div {
    border-radius: 25px;
    border: 2px solid white;
    background: rgba(250, 250, 250, 0.2);
    display: none;
    max-height: 604px;
    
}

p {
    text-transform: capitalize;
}

.modal {
    max-width: 100% !important;
}

#faq-page {
    padding: 10px;
}

.modal-page {
    padding: 20px;
}

.signup-button {
    float: right;
    margin-left: 5px;

}
.login-button {
    float: right;
}

#navbarDropdown{
  display: none;

}
#save-button {
    margin-top: 10px;
    width: auto;
}
.diet {
    text-align: center;
    margin-left: 10px;
    padding: 5px;
}

#dropdown-text {
    text-transform: capitalize;
}

#displayName-input {
    text-transform: capitalize;
}
